/* layout.blade.php */

/* weclome.blade.php */
@media screen and (max-width: 640px) {
    .bandeau {
        display: none;
    }
}

#financeur-partenaire-logo a img{
    height: 100px;
    min-width: 100px;
}

#financeur-partenaire-logo img{
    height: 100px;
    min-width: 100px;
}

/* inscriptionE.blade.php */
/* inscriptionD.blade.php */
/* connexionE.blade.php */
/* connexionD.blade.php */
/* connexionA.blade.php */
/* admin.blade.php */
/* enseignant.blade.php */
/* session.bled.php */
