@media screen and (max-width: 640px) {
    .bandeau {
        display: none;
    }
}

#financeur-partenaire-logo a img{
    height: 100px;
    min-width: 100px;
}

#financeur-partenaire-logo img{
    height: 100px;
    min-width: 100px;
}